{% extends 'base.html' %}
{% block body %}
<div class="container" id="bodystart">
  {% if messages %}
    {% for msg in messages %}
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{msg.message}}
      </div>
    {% endfor %}
  {% endif %}
    <div class="row">
        <div class="col-sm-6">
            <h1 class="big-text">Emergency</h1>
            <h1 class="big-text">Non-emergency</h1>
            <h1 class="small-text">Scanning Centre</h1>
            <h1 class="small-text">Pharmacy</h1>
            <a class="btn btn-first" href="{% url 'auth:login' %}"><b>LOGIN</b></a>
            <a class="btn btn-second" href="{% url 'auth:signup' %}"><b>SIGN UP</b></a>
        </div>
    </div>
</div>
{% endblock %}